@font-face{
    font-family: 'BaVfont';
    src: url('PinkChicken-Regular.ttf');
}

body{
    font-family: 'BaVfont';
    color: #2b3308;
    background-color: #C3D48B;
}

#tituloo{
    text-align: center;
    font-size: 2.8em;
    display: inline-block;
}

a:link, a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
} 

[id ^= button] {
    background-color: #b7d55e; /* Green */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    font-family:'BaVfont';
    margin: 0px 124px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
[id ^= button] {
    background-color: #b7d55e; 
    color: black; 
    border: 2px solid #3e7012;
}
  
[id ^= button]:hover {
    background-color: #b7d55e;
    color: white;
}

[id ^= button]:active {
    background-color: #259233;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

