@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body{
    font-family: 'EB Garamond';
    background-image: url("https://user-images.githubusercontent.com/115472816/201484800-83928331-427e-4313-950f-ff3b5d836d7a.png");
    background-size: 100%;
}
