@font-face{
    font-family: 'BaVfont';
    src: url('PinkChicken-Regular.ttf');
}

body{
    font-family: 'BaVfont';
    color: #2b3308;
    background-color: #C3D48B;
}

#tituloo{
    text-align: center;
    font-size: 2.8em;
}

figcaption{
    font-family:'BaVfont';
    color:#C3D48B;
    font-size: 1.3em;
    background-color: #37410a;
    border-style: solid;
    border-color: #5f7014;
    border-radius: 15px;
    margin: 3px;
}

#mapa{
    background-image: url("https://user-images.githubusercontent.com/115472816/237531004-f5705e02-b1c2-4fed-83af-7814ecff5054.png");
    background-repeat: no-repeat;
    background-size: 101%;
    border-radius: 60px;
    border: solid 10px;
    border-color: #64731E;
}

a:link, a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
} 



#fab_racao{
    background-color: transparent;
    border: none;
    margin-left: 33%;
}

#entrada_IF{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 23%;
    display: inline-block;
}

#centro_eco{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 28%;
    margin-top: 1%;
    float: left;
}

#equoterapia{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: -6%;
    display: inline-block;
}

#agro_ind{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 10%;
}

#ponto5{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 30%;
    display: inline;
}

#ponto1{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: -11.8%;
    display: inline;
}


#ponto4{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 28.4%;
    display: inline-block;
}

#ponto3{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 22%;
}

#ponto2{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 6%;
}



#creditos{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 530px;
    padding: 15px;
    border: dashed 3px #3e7012;
    border-radius: 25px;
    background: #a9ce3a;    
    display: none;
    text-align: center;
    font-family:'BaVfont';
    color:#2b3308;
}

#colaborador1{
    font-size: 20px;
    text-align: center;
    margin-right: 200px;
    display: inline-block;
}

#colaborador2{
    font-size: 20px;
    text-align: center;
    display: inline-block;
}

[id ^= sobre]{
    font-size: 1.3em;
}



[id ^= button] {
    background-color: #b7d55e; /* Green */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    font-family:'BaVfont';
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
[id ^= button] {
    background-color: #b7d55e; 
    color: black; 
    border: 2px solid #3e7012;
}
  
[id ^= button]:hover {
    background-color: #b7d55e;
    color: white;
}

[id ^= button]:active {
    background-color: #259233;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#fecha_creditos{
    font-family:'BaVfont';
    color:#C3D48B;
    font-size: 1.3em;
    background-color: #7c911f;
    border-style: solid;
    border-color: #5f7014;
    border-radius: 15px;
    margin: 3px;
    margin-top: -50px;
}

#fecha_infos{
    font-family:'BaVfont';
    color:#C3D48B;
    font-size: 1.3em;
    background-color: #7c911f;
    border-style: solid;
    border-color: #5f7014;
    border-radius: 15px;
    margin: 3px;
    margin-top: -30px;
}

[id ^= img]{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1300px;
    height: 680px;
    padding: 15px;
    border: solid 3px #3e7012;
    border-radius: 40px;
    background: #a9ce3a;    
    display: none;
    text-align: center;
    font-family:'BaVfont';
    color:#2b3308;
}


[id ^= fecha]{
    background-color: transparent;
    border: none;
    margin-top: 10px;
}

#fecha_CE{
    margin-top: -3px;
}



#msg{
    padding: 0px;
    margin: 0px;
    margin-bottom: 3px;
    font-size: 1.2em;
}

#name{
    font-size: 1.4em;
    margin: 5px;
    padding: 0px;
}

#insta{
    margin-left: 8px;
}

#cred{
    padding: 15px;
}



#rodape{
    padding: 5px 5px 5px 5px;
    font-size: 19px;
}

#siteif{
    color:rgb(27, 120, 202);
}

#txt{
    font-size: 1.3em;
}

#img_infos{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1300px;
    height: 600px;
    padding: 15px;
    border: dashed 3px #3e7012;
    border-radius: 25px;
    background: #a9ce3a;    
    display: none;
    text-align: left;
    font-family:'BaVfont';
    color:#2b3308;
}

#foto{
    border-radius: 15px;
}
