@font-face{
    font-family: 'BaVfont';
    src: url('PinkChicken-Regular.ttf');
}

body{
    font-family: 'BaVfont';
    color: #2b3308;
    background-color: #C3D48B;
}

#aaae{
    text-align: center;
    font-size: 2em;
}
#mapa{
    background-image: url("https://user-images.githubusercontent.com/115472816/202016194-4050db9c-3f58-4d2e-b77e-088dd55c0781.png");
    background-size: 100%;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
} 

#fab_racao{
    background-color: transparent;
    border: none;
    margin-left: 630px;
}

#entrada_IF{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 531px;
    display: inline-block;
}

#centro_eco{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 530px;
    float: left;
}

#equoterapia{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 0px;
    display: inline-block;
}

#agro_ind{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 200px;
}

#ponto5{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 1230px;
}

#ponto1{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 170px;
}


#ponto4{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 830px;
    display: inline-block;
}

#ponto3{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 440px;
    margin-bottom: 24px;
}

#ponto2{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-left: 27px;
}
